@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}
/*Footer Css*/
.footer-wrapper{
    background: #452360;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 90px 0px;
}
.footer-section-inner-one{}
.footer-section-inner-one a{}
.footer-section-inner-one img {
    width: 80px;
    margin-bottom: 40px;
    margin-left: 10px;
}
.footer-section-inner-two{}
.footer-section-inner-two a{
    display: inline-block;
    padding: 0px 5px;
}
.footer-section-inner-two img{
    width: 50px;
}
.footer-heading{
    margin-bottom: 30px;
}
.footer-heading h3 {
    font-weight: 600;
    font-size: 26px;
    color: #FFFFFF;
}
.footer__ {
    margin: 0;
    border-left: 2px solid #fff;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.footer__ a{
    font-weight: 300;
    font-size: 18px;
    line-height:54px;
    color: #FFFFFF;
    display: block;width: 100%;
}
.footer__ a img{
    width: 28px;
    margin-right: 20px;
}
.footer2__ {
    margin: 0;
    border-left: 2px solid #fff;
    padding-left: 30px;
    padding-top: 0px;
    padding-bottom: 10px;
}
.footer2__ a{
    font-weight: 300;
    font-size: 18px;
    line-height:54px;
    color: #FFFFFF;
    display: block;width: 100%;
}
.footer2__ a img{
    width: 28px;
    margin-right: 20px;
}
.footer__ a:hover {
    text-decoration: none;
}
.footer2__ a:hover {
    text-decoration: none;
}
/*Footer Css End*/

/*Home-about Css*/
.home-about-section-one {
    background: #452360;
    margin-bottom: 5px !important;
    padding-top: 30px;
    padding-bottom: 20px;
}
.mar-width-0{
    margin: 0;
    width: 100%;
}
.home-about-section-one-inner{
    text-align: center;
}
.home-about-section-one-inner img{
    width: 50px;
}
.home-about-section-one-inner a{
    display: block;
    width: 100%;
    font-weight: 300;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #fff;
}
.home-about-section-two{
    background: #452360;
    margin-bottom: 30px;
    padding: 2px;
}
.home-about-section-three{
    /*padding-left: 100px;*/
    /*padding-right: 100px;*/position: relative;
}
.heading-main {
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    display: inline-block;
    position: relative;
    color: #332F2F;
}
.heading-main:before{
    border-top: 3px solid #452360;
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    right: 0%;
    bottom: -3px;
    width: 50%;
}
.home-about-section-three p {
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #000000;
    /* padding-top: 60px; */
    max-width: 940px;
    padding-left: 130px;
}
.home-about-section-three img{
    width: 100%;
}
.home-about-wrapper {
    background-image: url("../images/home-about-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.about-backgound-section{
    background: #fff;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.home-about-section-three img {
    position: absolute;
    width: 360px;
    top: -17%;
    right: 100px;
}
.home-career-section-one{
    text-align: center;
}
.home-career-section-one p{
    font-weight: 600;
    font-size: 20px;
    line-height: 45px;
    text-align: center;
    color: #332F2F;
}
.home-career-section-one img {
    width: 50%;
    margin-bottom: 30px;
}
.home-career-section{
    padding-top: 30px;
}
.home-career-section-main{
    padding-top: 50px;
    padding-bottom: 30px;
}

/*Home-about Css End*/

/*Home Explore Css*/
.explore__{
    padding-top: 40px;
}
.explore__ .row {
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.explore__ p {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #635C5C;
    width: 100%;
    margin-bottom: 0px;
}
.explore__ span{
    font-weight: 300;
    font-size: 14px;
    line-height: 41px;
    text-align: center;
    width: 100%;
    color: #635C5C;
    display: block;
}

.explore__ img {
    width: 100px;
    margin: 0 auto;
}
.pad-100{
    padding-left: 100px;
    padding-right: 100px;
}
.home-explore-wrapper {
    background-image: url("../images/explore-5.png");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.explore_image_height{
    display: block;
    width: 100%;
    min-height: 110px;
}
.explore__ .img-bulb{
    width: 90px;
}
.explore__see{}

.explore__see a {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #452360;
    padding: 7px 25px;
    display: inline-block;
    margin-top: 40px;
}

/*End*/


/*Home Featured Css*/


.pad-50{
    padding-left: 50px;
    padding-right: 50px;
}
.featured__ {
    margin-bottom: 15px;
    padding-right: 0px;
}

.featured__ .featured__inner {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 10px;
}
.home-featured-wrapper {
    background: #F3F3F3;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
}

.featured__inner-one {
    text-align: right;
    padding-top: 20px;
}

.featured__inner-one img{
    width: 80%;
}
.featured__inner-two{}

.featured__inner-two h4 {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #332F2F;
    margin-bottom: 2px;
    padding-top: 20px;
}

.featured__inner-two p{
    font-weight: 400;
    font-size: 16px;
    color: #B0B0B0;
    margin-bottom: 0px;
}

.featured__inner-two-inner{}
.featured__inner-two-inner .col-md-4{
    padding-left: 0;
}

.featured__inner-two-inner img{
    width: 20px;
}

.featured__inner-two-inner span{
    font-size: 14px;color: #635C5C;
}

.featured__inner-days{}

.featured__inner-days p {
    text-align: right;
    color: #635C5C;
    font-size: 12px;
    margin-bottom: 0;
    padding-top: 5px;
}

.featured__inner-two-inner .image-feature-1{
    width: 14px !important;
}
.Heart {
    position: absolute;
    right: 15px;
    top: 15px;
}
.Heart img{
    width: 24px;
}
.featured-time.full-time {
    border: 1px solid #068813;
    box-sizing: border-box;
    border-radius: 0px;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #068813;
    padding: 0px 15px;
    position: absolute;
    right: 60px;
    top: 10px;
}
.featured-time.part-time {
    border: 1px solid #C9CD09;
    box-sizing: border-box;
    border-radius: 0px;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    color: #C9CD09;
    padding: 0px 15px;
    position: absolute;
    right: 60px;
    top: 10px;
}
.full-time{}
/* common */
.ribbon {
    width: 120px;
    height: 120px;
    overflow: hidden;
    position: absolute;
}
.ribbon::before,
.ribbon::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #F72929;
}
.ribbon span {
    position: absolute;
    display: block;
    width: 180px;
    padding: 5px 0;
    background-color: #F72929;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    /* text-shadow: 0 1px 1px rgba(0,0,0,.2); */
    text-transform: capitalize;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}
/* top left*/
.ribbon-top-left {
    top: 0px;
    left: 0px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}
.ribbon-top-left::before {
    top: 0;
    right: 0;
}
.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}
.ribbon-top-left span {
    right: -5px;
    top: 20px;
    transform: rotate(-45deg);
}

/*End*/

/*Home-steps Css*/
.home-steps-wrapper {
    background: #F3F3F3;
    padding-top: 50px;
    padding-bottom: 60px;
    margin-bottom: 30px;
}
.home-steps-inner-one__ {
    background: #FFFFFF;
    box-shadow: 35px 30px 50px rgba(0, 0, 0, 0.13);
    box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.13);
    border-radius: 0px 40px 40px 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.home-steps-inner-one__ h4 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #332F2F;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}
.home-steps-inner-one__ h2 {
    position: absolute;
    font-weight: bold;
    font-size: 40px;
    line-height: 95px;
    text-align: center;
    color: #452360;
    top: 40px;
    left: 40px;
}
.home-steps-inner-one__ img {
    width: 50%;
    margin: 0 auto;
}
.home-steps-inner-one__ p {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #635C5C;
    width: 100%;
    padding: 0px 50px;
}
.home-steps-inner-2__ {
    background: #FFFFFF;
    box-shadow: 35px 30px 50px rgba(0, 0, 0, 0.13);
    box-shadow: 15px 10px 30px rgba(0, 0, 0, 0.13);
    border-radius: 0px 40px 40px 40px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.home-steps-inner-2__ h4 {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #332F2F;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 10px;
}
.home-steps-inner-2__ h2 {
    position: absolute;
    font-weight: bold;
    font-size: 50px;
    line-height: 95px;
    text-align: center;
    color: #452360;
    top: -10px;
    left: 40px;
}
.home-steps-inner-2__ img {
    width: 90%;
    margin: 0 auto;
}
.home-steps-inner-2__ p {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #635C5C;
    width: 100%;
    padding: 0px 50px;
}
.home-steps-inner-three__{}
.home-steps-inner-one{
    padding-top: 55px;
}
/*End*/

/*Home Banner Css*/
.home-banner-main {
    background-image: url("../images/home-banner.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 150px;
    padding-bottom: 90px;
}
.home-banner-main2 {
    background-image: url("../images/home-banner.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 125px;
    padding-bottom: 30px;
}
.home-banner-main2 h1 {
    text-align: center;
    color: #fff;
    font-size: 30px;
}
.home-banner-main h1{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 116px;
    text-align: center;
    color: #FFFFFF;
}
.home-navbar{
    position: absolute;
    width: 100%;
}
.form-search.layout1 {
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.search-form-inner {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.search-form-inner > div {
    background: #fbfdff;
    flex: 0 1 auto;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    width: 30%;
}
.search-form-inner .form-group-title .inner, .search-form-inner .form-group-center-location .inner {
    padding-left: 25px;
    position: relative;
}
.search-form-inner .form-control {
    height: 70px;
}
.search-form-inner .form-control {
    font-size: 15px;
    line-height: 1.5;
    padding: 15px;
    border: none;
    height: 60px;
    background: #fff;
}
.search-form-inner .form-group:last-child {
    border: none;
}
.search-form-inner .form-group {
    margin: 0;
    border-left: 1px solid #dde6ef;
}
.search-form-inner .form-group:first-child {
    border: none;
}
.search-form-inner .form-group {
    margin: 0;
}
.search-form-inner .form-group-title {
    width: 45%;
}
.search-form-inner .btn-submit {
    height: 70px;
}
.search-form-inner .btn-submit {
    text-transform: uppercase;
    height: 60px;
    padding: 0 15px;
    font-size: 15px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    background: #452360;
    font-weight: 600;
    font-size: 22px;
    line-height: 54px;
    color: #fff;
}
.inner-1 img {
    position: absolute;
    width: 20px;
    left: 10px;
    top: 19px;
}
.inner-2 img {
    position: absolute;
    width: 18px;
    left: 10px;
    top: 19px;
}
.home-navbar {
    padding: 15px 80px;
    border-bottom: 1px solid #C4C4C470;
}
.mainLogo img {
    width: 80px;
    margin-right: 50px;
}
.home-navbar .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-right: 40px !important;
}
.home-navbar .register-link{
    background: #FFFFFF;
    border-radius: 3px;
    color: #452360 !important;
    padding: 0px 25px !important;
    text-transform: capitalize;
}
.home-navbar .login-link{
    border-radius: 3px;
    color: #fff !important;
    padding: 0px 25px !important;
    text-transform: capitalize;
}
.login-link img{
    width: 22px;
    margin-right: 5px;
}

.home-navbar .login-link2{
    border-radius: 3px;
    color: #fff !important;
    padding: 0px 25px !important;
    text-transform: capitalize !important;
}
.login-link2 img{
    width: 34px;
    margin-right: 5px;
}
.profile-dd{

}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #ececec;
    background-clip: padding-box;
    border: 0px solid rgba(0,0,0,.15);
    border-radius: 3px;
    padding:10px 5px;
}
.profile-dd .dropdown-item:focus, .profile-dd .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #452360;
}
.profile-dd .dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-bottom: 0;
    border-left: 8px solid transparent;
}
.profile-dd .dropdown-toggle{
    color: #452360;
}
/*End*/


/*Login Page css*/
.login-wrapper-main {
    background-image: url("../images/background-login.png");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #C4C4C424;
    min-height: calc(100vh - 75px);
}
.login-wrapper-main .card {
    background: #FFFFFF;
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.25);
    border: 0px;
}
.login-wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
}
.form-loggin .form-control{
    background: #FFFFFF;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 4px;
    height: 45px;
    font-size: 14px;
    color: #635C5C;
}
.form-loggin {
    padding: 20px 40px;
    margin-bottom: 0;
    padding-top: 40px;
}

.login-wrapper img{
    width: 100px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.form-loggin .btn-primary{
    background: #452360;
    border: 1px solid #452360;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    height: 45px;
}
.h1-1 {
    overflow: hidden;
    width: 100%;
    text-align: center;
    color: #635C5C;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 35px;
}
.h1-1:before,
.h1-1:after {
    background-color:#635C5C;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.h1-1:before {
    right: 0.5em;
    margin-left: -50%;
}
.h1-1:after {
    left: 0.5em;
    margin-right: -50%;
}
.google-login-btn {
    width: 100%;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    color: #635C5C;
    padding-top: 11px;
    margin-bottom: 15px;
}
.google-login-btn img {
    width: 20px;
    padding-bottom: 0px;
    padding-top: 0;
    margin-right: 10px;
}
.dont-account {
    padding-top: 50px;
}
.dont-account p{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
    color: #635C5C;
}
.dont-account a {
    color: #452360;
    font-weight: 600;
}
.fc label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #B0B0B0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
}
.fc input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #452360;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.fc{
    padding-left: 0;
}
.fc label{
    color: #635C5C;
}
.fc input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}
.login-navbar{
}
.login-navbar .nav-link {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
    color: #452360;
    text-transform: uppercase;
    padding-right: 40px !important;
}
.login-navbar{
    padding: 15px 80px;
    border-bottom: 0px solid #C4C4C470;
}
.login-navbar .register-link {
    background: #452360;
    border-radius: 3px;
    color: #fff !important;
    padding: 0px 25px !important;
    text-transform: capitalize;
}
.login-wrapper .nav-tabs {
    border-bottom: 0px solid #dee2e6 !important;
}
.nav-link-1 {
    background: #FFFFFF;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px 0px 0px 30px !important;
    color: #332F2F;
}
.nav-link-2{
    background: #FFFFFF;
    box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 0px 30px 30px 0px !important;
    color: #332F2F;
}
.login-wrapper .nav-tabs .nav-item.show .nav-link, .login-wrapper .nav-tabs .nav-link.active {
    background-color: #fff;
    background: #452360;
    color: #fff !important;
}
/*End*/

/*Contact page css*/
.contact-wrapper {
    background-image: url("../images/home-about-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-inner-2{}
.contact-inner-2 img{
    width: 100%;
}
.contact-bottom-inner{ text-align: center}
.contact-bottom-inner img{
    width: 100px;
}
.contact-bottom-inner a{
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    line-height: 48px;
    text-align: center;
    color: #000;
}
.contact-bottom{
    padding-bottom: 40px;
}

.contact-inner-1{}

.contact-inner-1 .form-control{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
}

.contact-inner-1 .fc-2{

    height: 50px;
}
.contact-inner-1 label{
    font-weight: 400;
    padding-left: 10px;
}
.contact-inner-1 .btn{
    background: #452360;
    border: 1px solid #452360;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 600;
    height: 45px;
}
.jobs-page.home-banner-main {
    background-image: url("../images/home-banner.png");
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 40px;
}
.jobs-page-wrapper{
    background: #F3F3F3;
    padding-top: 20px;
    padding-bottom: 20px;
}
.jobs-page-inner-category{}
.jobs-page-inner-category h4 {
    background: #452360;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    color: #FFFFFF;
    padding: 12px 15px;
    margin-bottom: 0px;
}
.jobs-page-inner-category p{
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    color: #332F2F;
    margin-bottom: 0px;
    padding: 6px 15px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    position: relative;
}
.jobs-page-inner-category p .fa{
    position: absolute;
    right: 20px;
    top: 10px;
}
.jobs-page-inner-category{
    background: #fff;
}
.jobs-page-inner-1-ads{
    padding-top: 50px;
}
.jobs-page-inner-1-ads img{
    width: 100%;
    margin-bottom: 15px;
}
.jobs-page-inner-2__ {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding-bottom: 3px;
    margin-bottom: 15px;
}

.jobs-page-inner-2-1__{}


.jobs-page-inner-2-1__ h4{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #332F2F;
    margin-bottom: 2px;
    padding-top: 10px;
}
.jobs-page-inner-2-1__ p{
    font-weight: 400;
    font-size: 14px;
    color: #B0B0B0;
    margin-bottom: 0px;
}
.pad-0{
    padding: 0px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #452260;
    border-color: #452360;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #452260;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.tagged{}

.tagged p{
    font-weight: 400;
    line-height: 30px;
    color: #635C5C;
}
.tagged span {
    display: inline-block;
    background: #E5E5E5;
    border-radius: 2px;
    padding: 0px 10px;
    font-size: 12px;
}
.tagged-2{
    text-align: right;
}

.tagged-2 p{
    font-weight: 300;
    font-size:12px;
    line-height: 27px;
    color: #332F2F;
}
.jobs-page-inner-2-1__1{
    text-align: right;
}
.jobs-page-inner-2-1__1 img{
    width: 70%;
    margin-top: 15px;
}
.jobs-page-inner-2-2__ {
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #eee;
}
.jobs-page-inner-2-2__1{}
.jobs-page-inner-2-2__1 p {
    font-size: 14px;
    color: #635C5C;
    margin-bottom: 8px;
}

.jobs-page-inner-2-2__1 p .jobs-8 {
    width: 18px;
    margin-right: 10px;
}

.jobs-page-inner-2-2__1 p .jobs-9 {
    width: 14px;
    margin-right: 10px;
}
.jobs-page-inner-2-2__1 p .jobs-10 {
    width: 12px;
    margin-right: 10px;
}
.jobs-page-inner-2-2__2 p {
    font-size: 14px;
    color: #000;
    margin-bottom: 8px;
}
.jobs-page-inner-2-2__3{}

.jobs-page-inner-2-2__3 .apply{
    border: 1px solid #452360;
    box-sizing: border-box;
    border-radius: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #fff;
    padding: 2px 12px;
    display: inline-block;
    margin-bottom: 10px;
    width: 90%;
    background-color: #452360;
}

.jobs-page-inner-2-2__3 .view-job {
    border: 1px solid #452360;
    box-sizing: border-box;
    border-radius: 14px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #452360;
    padding: 2px 12px;
    display: inline-block;
    margin-bottom: 10px;
    width: 90%;
}
.app-date{
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #B0B0B0;
    margin-bottom: 0px;
}
/*End*/

.employe-page-banner {
    padding-left: 100px;
    padding-right: 100px;
}

.employe-page-banner img{
    width: 100%;
}
.employe-page-banner-1{
    padding-top: 0px;
    text-align: center;
}
.employe-page-banner-1 h3 {
    margin-bottom: 30px;
    color: #fff;
}
.employe-page-banner-1 p{
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #fff;
}


.employe-data-wrap .featured__inner {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    padding-top: 15px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.employe-data-wrap .featured__inner-two h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #332F2F;
    margin-bottom: 2px;
    padding-top: 0px;
}
.employe-data-wrap-inner-1{
    text-align: center;

}

.employe-data-wrap-inner-1 img{
    width: 90%;
}


.employe_feature {
    position: absolute;
    right: -9px;
    top: 5px;
    width: 100px;
}

.employe-data-wrap .featured__inner-two p {
    font-weight: 400;
    font-size: 14px;
    color: #B0B0B0;
    margin-bottom: 3px;
}
.open-job {
    border: 1px solid #452360;
    box-sizing: border-box;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #452360;
    padding: 4px 12px;
    display: inline-block;
    margin-bottom: 10px;
    width: 90%;
    margin-top: 5px;
}
.view-jobs-wrapper{
}
.view-jobs-wrap{
    background: #F3F3F3;
}


/*View Job*/


.view-jobs-wrapper-1{}


.view-jobs-wrapper-1 img{
    width: 75%;
}

.view-jobs-wrapper-1 h4 {
    font-weight: normal;
    font-size: 30px;
    line-height: 28px;
    color: #fff;
}

.view-jobs-wrapper-1 p {
    font-weight: 300;
    font-size: 16px;
    line-height: 31px;
    color: #fff;
}
.pad-top-45{
    padding-top: 25px;
}
.view-jobs-apply {
    background: #ffff;
    border-radius: 7px;
    display: inline-block;
    width: 60%;
    color: #452360;
    text-align: center;
    padding: 6px;
    font-weight: 400;
}
.view-jobs-wrap{
    padding-top: 30px;
    padding-bottom: 30px;
}
.view-jobs-wrap-inner-1{}

.view-jobs-wrap-inner-1 .card{
    padding: 10px 15px;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 25px;
}
.view-jobs-wrap-inner-1 .card h5{
    color: #452360;
    margin-bottom: 20px;padding-top: 5px;
}
.view-jobs-wrap-inner-1 .card p{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}


.dot-p{
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}
.dot-p span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #452360;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 11px;
}

.modal-apply .modal-content {
    background: #1F1D1B;
    border-radius: 20px;
}
.modal-apply h1 {
    color: #fff;
    text-align: center;
    padding: 150px 0px;
}
.modal-apply h1 img {
    width: 40px;
}

.view-jobs-wrap-inner-2{

}

.view-jobs-wrap-inner-2 .card{
    padding: 10px 15px;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 25px;
}
.view-jobs-wrap-inner-2 .card h5{
    color: #452360;
    margin-bottom: 20px;
    padding-top: 5px;
}
.view-jobs-wrap-inner-2 .card p{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.view-jobs-wrap-inner-2{}

.view-jobs-wrap-inner-2 a {
    color: #635C5C;
    display: block;
    margin-bottom: 20px;
}

.view-jobs-wrap-inner-2 a img{
    width: 22px;
    margin-right: 12px;
}
.card-job-wrap{}

.card-job-wrap p{
    color: #B0B0B0 !important;
    font-size: 14px !important;
    margin-bottom: 10px;
}

.card-job-wrap h6 {
    font-size: 14px;
}
.card-job-wrap span{
    background: #4e0062;
    color: #fff;
    display: inline-block;
    padding: 2px 7px;
    margin-right: 3px;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: none;
}
.home-about-section-three.about-page img {
    position: absolute;
    width: 370px;
    top: -5%;
    right: 100px;
}


/*Profile View Page*/

.purple-bg{
    background: #452360;
    height: 10px;
}
.purple-bg2{
    background: #452360;
    height: 2px;
}
.gray-bg2 {
    background-color: #C4C4C44F;
    height: 200px;
}
.form-company-info {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0px;
}
.form-company-info label {
    color: #635C5C;
}
.form-company-info .form-control {
    background: #FFFFFF;
    border: 1px solid #BFBFBF54;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
}
.form-company-info .btn-set {
    background: #452360;
    border-radius: 10px;
    margin: 0 auto;
    width: 20%;
}
.form-company-info img{
    width: 250px;
}
.form-company-info h2{
    font-weight: 600;
    font-size: 30px;
    line-height: 44px;
    color: #452360;
}
.mar-top-120M{
    margin-top: -120px;
}
.mar-top-100M{
    margin-top: -100px;
}
.profile-wrap-left{
    background: rgba(229, 229, 229, 0.47);
    padding: 0px;
}
.short-line{
    position: relative;
    display: inline-block;
}
.short-line::before {
    border-top: 2px solid #452360;
    display: block;
    position: absolute;
    content: '';
    left: 50%;
    right: 0%;
    bottom: -7px;
    width: 50%;
}
.edit-icon{
    cursor: pointer;
    width: 30px;
}
.profilePic__{

}
.skills__{
    padding: 20px 0px;
}
.skill_1{
    background: #452360;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.skill_0{
    background: #B0B0B0;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.profile-icon{
    width: 100%;
}

.profilePic__{
    background: #452360;
    text-align: center;
}
.image-container {
    position: relative;
    width: 180px;
    height: 180px;
    border-radius: 160px !important;
    margin: 0px auto;
    position: relative;
    left: -10px;
    top: 50px;
}
.camera-alt{
    width: 30px;
}
.after{
    text-align: center;
    padding-top: 60px;
}
.after a{
    display: block;
    color: #fff;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: #FFF;
    border-radius: 50%;
}

.image-container:hover .after {
    display: block;
    background: rgba(0, 0, 0, .6);
}
.edit-icon2 {
    cursor: pointer;
    width: 20px;
}
.profile-wrap-right{
    background: #F3F3F3;
}
.b2{
    border-right: 2px solid #eee;
}
.b3{
    border-left: 2px solid #eee;
}
.Cv_1{
    background: #FFFFFF;
    border: 1px solid #452360;
    box-sizing: border-box;
    border-radius: 10px;
    color: #452360;padding: 5px 15px;
}
a:hover{
    color: initial;
    text-decoration: none;
}
.Cv_2{
    background: #452360;
    border: 1px solid #452360;
    box-sizing: border-box;
    border-radius: 10px;
    color: #fff;padding: 5px 15px;
}
.Cv_2:hover{
    color: #fff;
}
.color-1{
    color: #635C5C;
}
.pro-icon{
    width: 30px;
}
.profile-education-inner__{}
.profile-education-inner__ span{
    color: #000000;
    font-weight: 300;
}
.profile-education-inner__ strong{
    font-weight: 600;
    color: #383839;
    display: block;
}
.profile-education-inner__ p{
    color: #383839;
}

.modal-content-dark {
    background-color: #1F1D1B;
    padding: 30px 10px;
}
.btn-modal-save{
    background: #452360;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 18px;
}
.btn-modal-save:hover{
    background: #452360;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 18px;
}
.btn-modal-cancel{
    background: transparent;
    border: 0px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 18px;
    color: #fff;
}
.btn-modal-cancel:hover{
    background: transparent;
    border: 0px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 8px 30px;
    font-size: 18px;
    color: #fff;
}
.modal-foot {
    border-top: 0px solid #dee2e6;
}
.modal-head{

}
.modal-body-data label {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.modal-head h4{
    background: #452360;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 20px;
    position: relative;

}
.modal-head h4 img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 24px;
}
.modal-body-data .form-group{
    margin-bottom: 10px;
}
.change-wrapper h2 {
    font-size: 28px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: #452360;
}
.form-change-password {
    width: 60%;
    margin: 0 auto;
    padding: 60px 0px;
}
.form-change-password h2{

}
.form-change-password label{
    color: #635C5C;
}

.form-change-password .form-control {
    background: #FFFFFF;
    border: 1px solid #BFBFBF54;
    box-sizing: border-box;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.1);
}
.form-change-password .btn-set {
    background: #452360;
    border-radius: 10px;
    margin: 0 auto;
    width: 40%;
}

.home-banner-main22 {
    background-image: url("../images/home-banner.png");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 50px;
}
#cityData{
    display: none;
    background: #eee;
    padding-left: 10px;
}

.job-cv-review {
    /* padding-top: 10px; */
    margin-bottom: 15px;
}
.myjobs-wrapper-right {
    background-color: #f3f3f3;
    padding: 20px 15px;
}

.job-cv-review h6 {
    margin-bottom: 10px;
    color: #3e3838;
    font-size: 18px;
}
.__weeks{

    color: #635C5C;
    margin-bottom: 0px;
    font-size: 12px;
}

.cv-review-list {
    background: #D9D9D9;
    border-radius: 8px;
    padding: 10px 0px;
}
.col-active-type .row {
    text-align: center;
    background: #fff;
    width: 100%;
}
.col-active-type p {
    width: 100%;
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    color: #452360;padding: 10px 0px;
    position: relative;
}
.jobs-page-inner-category2 {
    background: #f3f3f3;
    height: 100%;
}
.col-active-type p::after {
    content: "";
    border-style: solid;
    border-width: 0px 14px 12px 0;
    border-color: transparent #452360 transparent transparent;
    position: absolute;
    right: 0;
    top: 0;
}
.col-type{padding-right: 10px;
    padding-left: 10px;

}
.col-non-active-type .row {
    text-align: center;
    background: #fff;
    width: 100%;
}
.col-non-active-type p {
    width: 100%;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #B0B0B0;padding: 10px 0px;
}
.login-navbar .postJobLink {
    background: #452360;
    border: 1px solid #B0B0B0;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color: #fff !important;
    text-align: center;
    padding: 0px 30px !important;
    font-weight: 600 !important;
    font-size: 16px;
    margin-right: 30px;
    text-transform: capitalize !important;
}

.post-job-wrapper{
    background: #F3F3F3;
}

/*End*/


/*Employer Dashboard*/


.employerDashboard-wrapper{
    background: #F3F3F3;
}
.emp-Dash-section-one{}
.emp-Dash-section-one-left{}



.emp-Dash-section-one-right{}


.emp-Dash-section-one-left__{}

.emp-Dash-section-one-left__ h3{
    font-size: 30px;
    line-height: 54px;
    color: #000000;
}

.emp-dash-img-1{
    width: 24px;
}

.eDSi2 {
    background: #FFFFFF;
    border: 1px solid #B0B0B04F;
    box-sizing: border-box;
    border-top: 3px solid #452360;
    margin-bottom: 19px;
    padding: 15px 0px;
}

.eDSi2 h6{color: #635C5C;}

.eDSi2 h2 {
    color: #452360;
    font-weight: bold;
    margin-bottom: 0;
}

.emp-dash-img-2{
    width: 100%;
}

.viewCvSpan {
    width: 28px;
    height: 28px;
    background: #B0B0B0;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 10px;
}

.unviewCvSpan{
    width: 28px;
    height: 28px;
    background: #635C5C;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 10px;
}
.unviewCvSpan2{
    width: 28px;
    height: 28px;
    background: #14A0C0;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 10px;
}
.totalCvSpan{
    width: 28px;
    height: 28px;
    background: #452360;
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 10px;
}
.post-employe-dashboard__one{}

.post-employe-dashboard__one p{

}
.post-employe-dashboard__inner-1 h2{
    font-weight: 600;
    font-size: 25px;
    line-height: 48px;

    /* identical to box height */

    color: #000000;
}
.post-employe-dashboard__inner-1 p{}
.post-employe-dashboard__inner-1{
    background: #F3F3F3;
    border-top: 3px solid #452360;
}

.post-employe-dashboard__wrap {
    margin-top: 20px;
    border: 1px solid #eee;
}
.greenActive{
    line-height: 48px;
    margin-bottom: 0px;
    color: #068813;
}
.feat-text {
    background: #452360;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: bold;
    width: 50%;
    text-align: center;
}
.post-employe-dashboard__inner-2{
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-employe-dashboard__inner-2 p{
    margin-bottom: 0px;
}
.border-right-2px{
    border-right:2px solid #452360;
}

.post-employe-dashboard__inner-3{
    background: #F3F3F3;
}

.post-employe-dashboard__inner-3{
    padding-top: 25px;
    padding-bottom: 15px;
}

.post-employe-dashboard__inner-3 img{
    width: 60px;
    margin-bottom: 10px;
}

.post-employe-dashboard__inner-3 p {
    margin-bottom: 5px;
    color: #000;
    font-weight: 600;
}
.post-employe-dashboard__inner-4{
    padding-top: 10px;
    padding-bottom: 10px;
}


.post-employe-dashboard__inner-4 p{
    color: #B0B0B0;
    margin-bottom: 0px;
}

.post-employe-dashboard__inner-4 p img {
    width: 14px;
    margin-right: 10px;
}
.border-right-gray{
    border-right: 2px solid #B0B0B0;
}
.post-employe-dashboard__last__inner__1{
    border: 1px solid #eee;
    border-radius: 2px;
}
.post-employe-dashboard__last__inner__2{
    border: 1px solid #eee;
    border-radius: 2px;
}


.post-employe-dashboard__last__inner__1 img {
    width: 250px;
}

.post-employe-dashboard__last__inner__2 h2 {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 10px;
}


.post-employe-dashboard__last__inner__2 h6{
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 10px;
    color: #452360;
    font-weight: bold;
}
.p-0-5{
    padding: 0px 5px;
}
.searchWrap{
    background-color: #f3f3f3;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #EAEAEA;
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3px;
    height: 20px;
    background: #452360;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 3px;
    height: 20px;
    background: #452360;
    cursor: pointer;
}
.custom-tabs{
    width: 100%;
    border-bottom: 0px solid #dee2e6;
    margin-bottom: 40px;
}
.custom-tabs .nav-link.active{
    background: #452360;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #fff;
    border: none;
}
.custom-tabs .nav-link{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;margin-right: 20px;color: #000;
    padding: 8px 35px;
}
.tab-content{
    width: 100%;
}

.form-search.layout2 {
    background: rgb(69, 35, 96);
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;padding-top: 15px;
}
.layout2 .form-control{
    font-size: 15px;
    line-height: 1.5;
    padding: 5px 10px;
    border: none;
    height: 40px;
    background: #fff;
    border-radius: 0px;
}
.layout2 .form-group{
    margin-bottom: 5px;
}
.layout2 .btn-theme {
    background: #fff;
    height: 86%;
    font-size: 20px;
    line-height: 20px;
}


.viewApplicants-leftSidebar{
    background-color: #f3f3f3;
    min-height: 100vh;
}
.viewApplicants-left-heading{
    background: #452360;
}

.viewApplicants-left-heading p {
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 7px;
}

.viewApplicants-leftSidebar label {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: #452360;
}
.dash__ {
    position: absolute;
    width: 0;
    display: inline-block;
    left: -1px;
    font-weight: bold;
    top: 5px;
}
.viewApplicants-leftSidebar .col-12{
    padding-left: 10px;
    padding-right: 10px;
}
/*End*/



.styled-checkbox {
    position: absolute;
    opacity: 0;
}
.styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
}
.styled-checkbox + label::before {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #B0B0B0;
    position: relative;
    top: 4px;
}
.styled-checkbox:hover + label:before {

}
.styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}
.styled-checkbox:checked + label:before {
    background: #452360;
}
.styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.styled-checkbox:checked + label:after {
    content: "";
    position: absolute;
    left: 5px;
    top: 12px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg);
}
.salry-wrap label{
    font-weight: normal;
    font-size:16px;
    color: #000000;
}
.salry-wrap a{
    color: #452360;
}
.viewApplicants-leftSidebar .form-group {
    margin-bottom: 5px;
}
.viewApplicants-right{
    background-color: #f3f3f3;
}
.viewApplicants-rightwrap_1 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.viewApplicants-rightwrap_1 h4{
    color: #000000;
    margin-bottom: 10px;
}
.viewApplicants-rightwrap_1 span {
    color: #635C5C;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}
.searchSection{
    margin-top: 10px;
    margin-bottom: 10px;
}
.searchSection .form-control{
    border: 0px;
}
.searchSection .btn-theme{
    background-color: #452360;
    color: #fff;
}

.applicantWrap-left{
    border-right: 2px solid #eee;
}
.applicantWrap-left a {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 5px 10px;
    display: block;
    text-align: center;
    color: #452360;
    margin: 15px;
}
.applicantWrap-left .imgVideo{
    width: 20px;
}

.applicantWrap-left .imgApplicant {
    width: 150px;
}

.applicantWrap-right__1{}

.applicantWrap-right__1 img {
    width: 24px;
    margin-right: 8px;
}

.applicantWrap-right__1 p strong {
    font-weight: 600;
}

.applicantWrap-right__2{}

.applicantWrap-right__2 p{
    color: #635C5C;
}
.colour-1{
    color: #068813;
}
.colour-2{
    color: #5059AB;
}
.colour-3{
    color: #C9CD09;
}
.applicantBottomWrap__left{}
.applicantBottomWrap__left p{}
.applicantBottomWrap__right p{
    color: #635C5C;
}
.applicantBottomWrap__right p img {
    width: 22px;
}
.applicantBottomWrap{
    padding-top: 1rem;
    background-color: #f3f3f3;
}
.tabs-applicants{}
.tabs-applicants .nav-tabs{
    width: 100%;
    border: 0px;
}

.tb-app-1 {
    background: rgba(197, 217, 255, 0.2) !important;
    box-sizing: border-box;
    border-radius: 100px !important;
    padding: 10px 40px 10px 60px !important;
    font-weight: 600;
    font-size: 16px;
    color: #000000 !important;
    position: relative;
    margin-right: 20px;
}
.tb-app-2{
    background: rgba(6, 136, 19, 0.22) !important;
    box-sizing: border-box;
    border-radius: 100px !important;
    padding: 10px 40px 10px 60px !important;
    font-weight: 600;
    font-size: 16px;
    color: #000000 !important;
    position: relative;margin-right: 20px;
}
.tb-app-3{
    background: rgba(247, 41, 41, 0.2) !important;
    box-sizing: border-box;
    border-radius: 100px !important;
    padding: 10px 40px 10px 60px !important;
    font-weight: 600;
    font-size: 16px;
    color: #000000 !important;
    position: relative;
}

.tabs-applicants .nav-tabs .nav-link.active {
    border-color: initial;
}
.applicants__ {
    background: #3E7FB9;
    border: 1px solid #6476C0;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 9px 12px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
}
.shorlisted__{
    background: #068813;
    border: 1px solid #068813;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 9px 12px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
}
.noSuccess__{
    background: #F72929;
    border: 1px solid #F72929;
    box-sizing: border-box;
    border-radius: 100px;
    padding: 9px 12px;
    position: absolute;
    left: 0px;
    top: 0px;
    color: #fff;
}

.tabs-applicants{
    border-top: 2px solid #eeee;
}

@media only screen and (max-width: 1400px) {

    .pad-100 {
        padding-left: 50px;
        padding-right: 50px;
    }
    .home-about-section-three img {
        position: absolute;
        width: 270px;
        top: -3%;
        right: 40px;
    }

    .about-page-w img{
        position: absolute;
        width: 320px !important;
        top: 2% !important;
        right: 80px !important;
    }
    .about-page-w p {
        font-weight: 300;
        font-size: 16px;
        line-height: 32px;
        color: #000000;
        /* padding-top: 60px; */
        max-width: 940px;
        padding-left: 70px !important;
        padding-right: 100px !important;
    }
}


@media only screen and (max-width: 768px) {
    .pad-100 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .jobs-page-inner-2-1__1 img {
        width: 30%;
        margin-top: 15px;
    }
    .jobs-page-inner-2-1__1 {
        text-align: center;
    }
    .footer-heading {
        margin-bottom: 30px;
        display: none;
    }
    .footer__ {

        border-left: 0px solid #fff;

    }
    .footer2__ {
        border-left: 0px solid #fff;
    }
    .footer-section-inner-one {
        text-align: center;
    }
    .footer-section-inner-one a {
        width: 100%;
    }
    .footer-section-inner-two {
        text-align: center;
    }
    .footer-section-inner-two a {
        display: inline-block;
        padding: 0px 5px;
        width: 25%;
    }
    .footer-wrapper {
        padding: 30px 0px;
    }
    .employe-page-banner {
        background: #f3f3f3;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .login-navbar {
        padding: 15px 10px;
        border-bottom: 0px solid #C4C4C470;
        background: #eee;
    }
    .home-about-section-three img {
        display: none;
    }
    .home-about-section-three p {
        padding-left: 0px;
    }
    .home-about-section-three {
        /* padding-left: 100px; */
        /* padding-right: 100px; */
        position: relative;
        padding: 20px 0px !important;
    }
    .contact-bottom-inner img {
        width: 50px;
    }
    .contact-bottom-inner {
        text-align: center;
        margin-bottom: 30px;
    }
    .contact-inner-2 img {
        width: 100%;
        display: none;
    }
    .form-loggin {
        padding: 20px 0px;
        margin-bottom: 0;
        padding-top: 40px;
    }
    .form-loggin .form-control {
        margin-bottom: 20px;
    }
    .employe-data-wrap-inner-1 img {
        width: 30%;
    }
    .open-job {
        width: 100%;
        margin-top: 5px;
    }
    .featured__inner-two-inner .col-md-4 {
        padding-left: 15px;
    }
    .home-banner-main h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .jobs-page-inner-2-2__3 .view-job {
        width: 100%;
    }
    .jobs-page-inner-2-2__3 .apply {
        width: 100%;
    }
    .home-navbar {
        padding: 15px 10px;
        border-bottom: 1px solid #C4C4C470;
        background: #6a4f80;
    }
    .home-steps-inner-one {
        padding-top: 0px;
        margin-bottom: 30px;
    }
    .home-steps-inner-2__ {
        margin-bottom: 30px;
    }
    .home-steps-wrapper {
        background: #F3F3F3;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
    .pad-50 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .featured__inner-one {
        text-align: center;
        padding-top: 20px;
    }
    .featured__inner-one img {
        width: 20%;
    }
    .home-banner-main {
        background-image: url("../images/home-banner.png");
        background-size: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        padding-top: 0px;
        padding-bottom: 0px;
        background: #452360;
    }
    .search-form-inner {
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        -webkit-align-items: center;
        display: block;
        align-items: center;
    }
    .search-form-inner .form-group-title {
        width: 100%;
    }
    .search-form-inner > div {
        background: #fbfdff;
        flex: 0 1 auto;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        width: 100%;
    }
    .home-navbar {
        position: relative;
        width: 100%;
    }
    .search-form-inner .form-group-title .inner, .search-form-inner .form-group-center-location .inner {
        padding-left: 25px;
        position: relative;
        margin-bottom: 15px;
    }
    .featured__ {
        margin-bottom: 15px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .home-steps-inner-one__ p {

        padding: 0px 30px;
    }
    .home-steps-inner-2__ img {
        width: 70%;
        margin: 0 auto;
    }
    .home-steps-inner-2__ p {
        padding: 0px 30px;
    }
    .featured-time.full-time {
        border: 1px solid #068813;
        box-sizing: border-box;
        border-radius: 0px;
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        color: #068813;
        padding: 0px 10px;
        position: absolute;
        right: 47px;
        top: 10px;
    }
    .featured-time.part-time {
        border: 1px solid #C9CD09;
        box-sizing: border-box;
        border-radius: 0px;
        font-weight: 300;
        font-size: 12px;
        line-height: 30px;
        text-align: center;
        color: #C9CD09;
        padding: 0px 10px;
        position: absolute;
        right: 45px;
        top: 10px;
    }
    .featured__inner-two-inner .col-md-4 {
        padding-left: 15px;
        padding-bottom: 10px;
    }
    .form-group {
        margin-bottom: 0rem;
    }

    .featured__inner-two h4 {
        text-align: center;
    }
    .featured__inner-two p {
        text-align: center;
    }
    .featured__inner-two-inner .col-md-4 {
        padding-left: 0px;
        padding-bottom: 10px;
        display: inline-block;
        width: 32%;
        padding-right: 0;
    }
    .featured__inner-two-inner {
        /* text-align: center; */
        padding-left: 0px;
        display: flex;
        text-align: center;
    }
    .featured__inner-two-inner img {
        width: 14px;
    }
    .featured__inner-two-inner .image-feature-1 {
        width: 10px !important;
    }

    .featured__inner-two-inner span {
        font-size: 12px;
        color: #635C5C;
    }
    .home-steps-inner-one__ img {
        width: 120px;
        margin: 0 auto;
        height: 110px;
    }
    .home-steps-inner-2__ img {
        width: 150px;
        margin: 0 auto;
        height: 150px;
    }
    .explore__ {
        padding-top: 20px;
    }
    .home-banner-main2 {
        background-image: url("../images/home-banner.png");
        background-size: 100%;
        background-position: top;
        background-repeat: no-repeat;
        padding-top: 25px;
        padding-bottom: 10px;
        background: #452360;
    }
    .view-jobs-wrapper-1 h4 {
        font-weight: normal;
        font-size: 26px;
        line-height: 30px;
        color: #fff;
    }
    .view-jobs-wrapper-1 img {
        width: 45%;
    }
    .Cv_1 {

        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .Cv_2 {

        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .form-change-password {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
    }
    .form-change-password .btn-set {
        background: #452360;
        border-radius: 10px;
        margin: 0 auto;
        width: 60%;
        margin-top: 20px;
    }
    .jobs-page-inner-1{
        margin-bottom: 20px;
    }
    .col-type {
        padding-right: 10px;
        padding-left: 10px;
        max-width: 100%;
        flex-basis: auto;
        margin-bottom: 10px;
    }
    .job-cv-review h6 {
        margin-bottom: 0px;
        color: #3e3838;
        font-size: 14px;
    }
    .form-company-info {
        width: 100%;
        margin: 0 auto;
        padding: 10px 0px;
    }
    .form-company-info .btn-set {
        width: 60%;
        margin-top: 20px;
    }
    .heading-main {
        font-size: 20px;
    }
    .heading-main::before {
        border-top: 3px solid #452360;
        display: block;
        position: absolute;
        content: '';
        left: 70%;
        right: 0%;
        bottom: -3px;
        width: 30%;
    }

    .p120{
        padding-top: 20px !important;
    }
    .post-employe-dashboard__one .col-md-6 {
        text-align: center !important;
    }
    .post-employe-dashboard__inner-1 h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 40px;
        color: #000000;
    }

    .post-employe-dashboard__inner-1 .col-2{
        flex: 0 0 50%;
        max-width: 50%;
        text-align: left;
    }
    .post-employe-dashboard__inner-1 .col-10{
        flex: 0 0 50%;
        max-width: 50%;
        text-align: left;
    }
    .pl-5, .px-5 {
        padding-left: 1rem !important;
    }
    .post-employe-dashboard__inner-2 .text-right{
        text-align: left !important;
    }

    .post-employe-dashboard__inner-3 .col-md-4{
        position: relative;
        width: 33%;
        padding-right: 15px;
        padding-left: 15px;
    }
    .post-employe-dashboard__inner-3 img {
        width: 50px;
        margin-bottom: 10px;
    }
    .post-employe-dashboard__inner-3 p {
        font-size: 12px;
    }
    .post-employe-dashboard__inner-4 .col-md-2 {
        width: 50% !important;
        margin-bottom: 10px;
    }
    .post-employe-dashboard__inner-4 .col-md-6 {
        width: 50% !important;
    }

    .post-employe-dashboard__inner-4 .text-right{
        text-align: left !important;
    }
    .border-right-gray {
        border-right: 0px solid #B0B0B0;
    }
    .post-employe-dashboard__inner-2 p {
        margin-bottom: 0px;
        font-size: 14px;
    }
    .viewApplicants-rightwrap_1 span {
        color: #635C5C;
        display: inline-block;
        padding-right: 0px;
        padding-left: 0px;
        font-size: 14px;
    }
    .applicantBottomWrap__right .col-md-3{
        width: 50%;
    }
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* Base setup */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);




/* Ratings widget */
.rates {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rates > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rates > label {
    float: right;
    margin-bottom: -18px;
    color: white;
}
/* The star of the show */
.rates > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Zero stars rating */

/* Half star trick */
.rates .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}

/* Ratings widget */
.rate {
    display: inline-block;
    border: 0;
}
/* Hide radio */
.rate > input {
    display: none;
}
/* Order correctly by floating highest to the right */
.rate > label {
    float: right;
    margin-bottom: -18px;
    color: white;
}
/* The star of the show */
.rate > label:before {
    display: inline-block;
    font-size: 1.1rem;
    padding: .3rem .2rem;
    margin: 0;
    cursor: pointer;
    font-family: FontAwesome;
    content: "\f005 "; /* full star */
}
/* Zero stars rating */

/* Half star trick */
.rate .half:before {
    content: "\f089 "; /* half star no outline */
    position: absolute;
    padding-right: 0;
}
/* Click + hover color */
input:checked ~ label, /* color current and previous stars on checked */
label:hover, label:hover ~ label { color: #452360;  } /* color previous stars on hover */

/* Hover highlights */
input:checked + label:hover, input:checked ~ label:hover, /* highlight current and previous stars */
input:checked ~ label:hover ~ label, /* highlight previous selected stars for new rating */
label:hover ~ input:checked ~ label /* highlight previous selected stars */ { color: #452360;  }
.ratingDiv{
    position: relative;
    left: -40px;
    top: -3px;
}